*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background: #f4f2f2;
}
header{
    height: 92px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;
    min-height: 92px;
}

.links ul{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.links ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

.btn{
    padding: 16px 12px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #2e8e56;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: #30B868;
}

#hero{
    min-height: 100vh;
    background: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}


.access-btn{
    padding-top: 140px;
    text-align: center;
}

.access-btn button{
    padding: 8px 15px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #2e8e56;
    font-size: 16px;
}

.access-btn img{
    text-align: center;
    align-items: center;
}
 
.hero-content{
    padding-top: 16px;
    text-align: center;
}

.hero-content h1{
    font-size: 65px;
    color: #FFFFFF;
}

.green-text{
    color: #2e8e56;
}

.hero-content p{
    text-align: center;
    padding-top: 16px;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    gap: 10px;
}

 

.green-btn{
    padding: 16px 12px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #2e8e56;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
}

.normal-btn{
    padding: 16px 12px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;

}

#card{
    max-height: 448px;
}

.card-section{
    padding-top: 70px;
    margin: 0 120px;
    text-align: center;
}

.card-content h3{
    font-size: 58px;
    font-weight: bold;
    color: #001931;
}

.card-content p{
    padding-top: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.card-box{
    padding-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}

.card-box .box{
    width: 322px;
    height: 300px;
    background: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    z-index: -1;
    
}
 
.box img{
    background: #F95555;
    color: #FFFFFF;
    border-radius: 100%;
    padding: 10px;
}

.box h3{
    padding-top: 15px;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: #001931;
}

.box p{
    padding-top: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#big-content{
    margin-top: 35px;
    height: 840px;
    background: #FFFFFF;
    z-index: 4;
}

.big-container{
    padding: 120px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.big-img{
    min-width: 600px;
    min-height: 600px;
}

.brain-content{
    width: 700px;
    height: 396px;
}

.brain-subcontent p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #2e8e56;
    padding-bottom: 16px;
}

.brain-subcontent h1{
    font-size: 48px;
    font-weight: 800;
    color: #001931;
    padding-bottom: 16px;
}

.brain-subcontent .gray{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.brain-content ul li{
    display: flex;
    align-items: center;   
    gap: 12px;              
    margin-bottom: 15px;
}